<div class="col-md-4 top-space font-1">
    <div class="top-space col-md-11">
        <div class="absolute article-height background-cover" style="background:url(<%=article.cover.url%>); width:100%; border-radius:10px;"></div>
        <div class="absolute article-height background-cover" style="background:rbga(0,0,0,0.4); width:100%; border-radius:10px;"></div>
        <div class="relative text-center">
            <h1><%= link_to article.title,article%></h1>
            <h6>
                Visitas:
                <%= article.visits_count%>
            </h6>

            <br>

            <h6>
                <%=truncate(strip_tags(article.body),length:40)%>
            </h6>

        </div>
    </div>

</div>
